{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'assets/css/bot.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<img style="display: block;
margin-left: auto;
margin-right: auto;" src="{% static 'assets/img/mea.png' %}" height="9%" width="9%">
    <h2>MEA Engineering College, Perinthalmanna</h2>
    <hr style="border-bottom: 3px solid red; width: 60%;">
    <h3>COLLEGE ENQUIRY CHATBOT</h3>

    <div>
        <div id="chatbox">
            <p class="botText"><span>Hello, I'm MEAEC chatbot. I will answer your queries regarding college. If you want to exit, Type 'bye!'
                    </span></p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Type your query here.">
            <input id="buttonInput" type="submit" value="Send">
        </div>

        <script>
           
          function getBotResponse() {
              var rawText = $("#textInput").val();
              var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
              $("#textInput").val("");
              $("#chatbox").append(userHtml);
              document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
              $.get("{% url 'chatbotresponse' %}", { msg: rawText }).done(function (data) {
                  var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                  $("#chatbox").append(botHtml);
                  document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
              });
          }
          $("#textInput").keypress(function (e) {
              if (e.which == 13) {
                  getBotResponse();
              }
          });
          $("#buttonInput").click(function () {
              getBotResponse();
          })
      </script>
    </div>
  </body>

  </html>