{%  extends 'attendance_sys/main.html' %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-dark" href="{% url 'facultyhome' %}"> Home</a>
			<br>
			<img class="img-responsive profile-pic" src="{{request.user.faculty.profile_pic.url}}" >
			<span class="center">{{ request.user.first_name }} {{ request.user.last_name }}</span>
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="{% url 'facultyform' %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
		
			<input class="btn btn-dark" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>



{% endblock %}