{%  extends 'attendance_sys/main.html' %}
{% load static %}
{% block content %}
<div>
	<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
		style="height:80px;background-color:#37434d;color:#ffffff;">
		<div class="container-fluid"><a class="navbar-brand" href="#"><img src="{% static 'assets/img/logo.png' %}"
					style="height: 80px;width: 85px;margin-left: 20px;"></a></div>
	</nav>
</div>
<section class="register-photo" style="width: 1400px;padding-top: 40px;padding-bottom: 50px;">
	<div class="form-container" style="height: 469px;width: 1043px;margin-left: 200px;margin-right: 200px;">
		<div class="image-holder"></div>
		<form method="get" style="width: 419px;">
			<div class="mb-3" style="margin-top: 141px;margin-bottom: 0px;"><a href="facultylogin"
					class="btn btn-primary d-block w-100" type="submit"
					style="background: rgb(55,67,77);color:white;font-weight: bold;text-align: center;margin-bottom: 64px;margin-top: -30px;">Faculty
					Login</a><a href="studentlogin" class="btn btn-primary d-block w-100" type="submit"
					style="background: rgb(55,67,77);color:white;font-weight: bold;margin-top: 40px;">Student Login</a>
			</div>
		</form>
	</div>
</section>
{% endblock %}