{% extends 'attendance_sys/main.html' %}
{% load static %}
{% block content %}
<div>
	<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
		style="height: 80px; background-color: #37434d; color: #ffffff">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="{% static 'assets/img/logo.png' %}"
					style="width: 85px; height: 80px; margin-left: 20px" /></a>
					<li class="nav-item" style="list-style: none">
						<a class="nav-link" href="{% url 'studenthome' %}" style="color: white"><i class="fa fa-home"
								style="color: white"></i><span> Home</span></a></li>
		</div>
	</nav>
</div>
{% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
	{% endfor %}
{% if ta == False %}
<center><h1 class="text-dark">Search Attendance</h1></center>
<div class="row">
	<div class="col">
		<div class="text-dark card card-body">

			<center>
				<form method="get">
					{{myFilter.form}}

		    		<button class="btn btn-dark" type="submit">Search</button>
				</form>
			</center>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-sm-12">
		<div class="text-dark card card-body">
			<table class="table table-sm">
				<tr>
					<th>Date</th>
					<th>Subject</th>
					<th>Period</th>
					<th>Status</th>
				</tr>

				{% for attendence in attendences %}

				<tr>
					<td>{{ attendence.date }}</td>
					<td>{{ attendence.subject }}</td>
					<td>{{ attendence.period }}</td>
					<td>{{ attendence.status }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endif %}


{% endblock %}